<!DOCTYPE html>
<html ng-app="Tombola.Games.NoughtsAndCrosses">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="thirdparty/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-controller="GameboardTextController">

<h1>{{gameTitle}}</h1>

<h2>TEMP: Gamebaord: {{gameBoard}}</h2>


<div class="table">
    <div class="row">
        <div class="cell" ng-click="takeTurn(0)">
            <p>Row 1 Column 1</p>
        </div>
        <div class="cell" ng-click="takeTurn(1)">
            <p>Row 1 Column 2</p>
        </div>
        <div class="cell" ng-click="takeTurn(2)">
            <p>Row 1 Column 3</p>
        </div>
    </div>
    <div class="row">
        <div class="cell" ng-click="takeTurn(3)">
            <p>Row 2 Column 1</p>
        </div>
        <div class="cell" ng-click="takeTurn(4)">
            <p>Row 2 Column 2</p>
        </div>
        <div class="cell" ng-click="takeTurn(5)">
            <p>Row 2 Column 3</p>
        </div>
    </div>
    <div class="row">
        <div class="cell" ng-click="takeTurn(6)">
            <p>Row 3 Column 1</p>
        </div>
        <div class="cell" ng-click="takeTurn(7)">
            <p>Row 3 Column 2</p>
        </div>
        <div class="cell" ng-click="takeTurn(8)">
            <p>Row 3 Column 3</p>
        </div>
    </div>
</div>

<div class="players">
    Player One: {{playerOne}} -- Player Two: {{playerTwo}}
</div>



</body>
</html>