<div ng-controller="GameBoardController">

<h3>Player {{model.currentPlayer}}, please take your turn.</h3>

<div class="table" id="board" >
    <div class="row">
        <div class="cell player{{model.gameBoard[0]}}" ng-click="model.takeTurn(0)" ></div>
        <div class="cell player{{model.gameBoard[1]}}" ng-click="model.takeTurn(1)"></div>
        <div class="cell player{{model.gameBoard[2]}}" ng-click="model.takeTurn(2)"></div>
    </div>
    <div class="row">
        <div class="cell player{{model.gameBoard[3]}}" ng-click="model.takeTurn(3)"></div>
        <div class="cell player{{model.gameBoard[4]}}" ng-click="model.takeTurn(4)"></div>
        <div class="cell player{{model.gameBoard[5]}}" ng-click="model.takeTurn(5)"></div>
    </div>
    <div class="row">
        <div class="cell player{{model.gameBoard[6]}}" ng-click="model.takeTurn(6)"></div>
        <div class="cell player{{model.gameBoard[7]}}" ng-click="model.takeTurn(7)"></div>
        <div class="cell player{{model.gameBoard[8]}}" ng-click="model.takeTurn(8)"></div>
    </div>
</div>

<div class="players">
    Player One: {{model.playerSelection.player1Type}} -- Player Two: {{model.playerSelection.player2Type}}
</div>
<div>
    <button ng-click="model.resetGame()" ui-sref="playerSelection">Reset</button>
</div>
</div>